<!DOCTYPE html>
<html ng-app="calendarDemoApp">
<head>
<title>Calendar Directive Challenge</title>
<link rel="stylesheet" type="text/css" href="./styles/main.css" />
</head>
<body ng-controller="mainAppCtrl">
  <nav>
    
    <select class="month" ng-model="date.month">
      <option ng-repeat="month in date.months" value="{{month}}" ng-selected="month === date.months[date.currentMonth]" date="month">{{month}}</option>
    </select>

    <select name="years" ng-model="date.year">
      <option ng-repeat="year in date.years" value="{{year}}" ng-selected="year === date.currentYear" date="year" >{{year}}</option>
    </select>

  </nav>
  <calendar></calendar>

<!-- your code for nav and calendar directive instance here -->

<script type="text/javascript" src="./bower_components/angular/angular.js"></script>
<script type="text/javascript" src="./utilities/calendar-range/calendarRange.js"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>